<ion-view>
	<ion-content>
		
		<!-- CHOIX RACINE TABLEAU / OBJET -->
		<div class="buttons-start" ng-show="jsonStart"></div>

		<!-- GESTION CONSTRUCTION JSON -->
		<div class="json-builder" ng-show="!jsonStart"></div>
		

		<!-- AFFICHAGE FICHIER -->
		<div class="file-admin" ng-show="file.content.length>0"></div>
		

		<!-- APPERÇU JSON -->
		<div class="json-display" ng-show="!jsonStart"></div>
<!-- 
		<div class="card">
			<a
				class="button button-full button-assertive"
				ng-click="clearFiles()">
				REMOVE MAIN DIR
			</a>
		</div> -->

	</ion-content>

	<ion-footer-bar>
		<div class="button-bar">
			<a
				class="button button-light"
				ui-sref="home"
				ui-sref-opts="{reload:true}">
				<span class="refresh-icon"></span>
			</a>
			<a
				ng-show="!jsonStart"
				class="button button-light"
				ng-click="adminFile( json )">
				SAVE
			</a>
			<a
				ng-show="listFilesSaved.length>0"
				class="button button-light"
				ng-click="adminFile()">
				OPEN
			</a>
		</div>
	</ion-footer-bar>
</ion-view>