@mixin bts( $url )
{
	background: url( $url ) center no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
	margin: auto;
	padding: 5px;
	display: block;
}


// BTS PAGE ACCUEIL
.bts-array-object
{
	@include animation(dwapsPulse 3s ease 0s infinite normal);
	position: relative;
    top: 90px;
}

.array-icon {
	@include bts('../img/array.png');
	@extend .bts-array-object;
}
.object-icon {
	@include bts('../img/object.png');
	@extend .bts-array-object;
	animation-delay: 0.1s;
}
.refresh-icon {
	@include bts('../img/refresh.png');
}
// !

@include keyframes(dwapsPulse) {
  0%  { @include transform(rotate(0deg) scale(1));   }
  33% { @include transform(rotate(0deg) scale(1.3)); }
  32% { @include transform(rotate(0deg) scale(1));   }
  39% { @include transform(rotate(0deg) scale(1.3)); }
  60% { @include transform(rotate(0deg) scale(1));   }
}

/* <=IE9 */
.dwapsPulse:not(:required) {
  @include animation(dwapsPulse 1300ms ease 0s infinite normal);
}