// ------------------ //
//   BOUTONS HEADER   //
// ------------------ //

ion-header-bar
{
	box-shadow: 0 4px 10px gray !important;
	height: 60px !important;
}


@mixin bts( $url )
{
	background: url( $url ) center no-repeat;
	background-size: contain;
	width: 6em;
	height: 50px !important;
	margin: 0 auto;
	display: block;
}

.button
{
	height: 50px !important;
}


// ------------ //
// PAGE ACCUEIL //
// ------------ //

// BTS PAGE ACCUEIL
.bloc-bts-array-object
{
	position: relative;
    top: 90px;
}
.bts-array-object
{
	@include animation(dwapsPulse 3s ease 0s infinite normal);
}

.array-icon {
	@include bts('../img/array.png');
	@extend .bts-array-object;
	animation-delay: 1s;
}
.object-icon {
	@include bts('../img/object.png');
	@extend .bts-array-object;
	animation-delay: 1.1s;
}
.refresh-icon {
	@include bts('../img/refresh.png');
	width: 40px;
	margin-top: -5px;
}
.save-icon {
	@include bts('../img/save.png');
	width: 40px;
	margin-top: -5px;
}
.open-file-icon {
	@include bts('../img/open-file.png');
	width: 40px;
	margin-top: -5px;
}


@include keyframes(dwapsPulse) {
  0%  { @include transform(rotate(0deg) scale(1));   }
  33% { @include transform(rotate(0deg) scale(1.3)); }
  32% { @include transform(rotate(0deg) scale(1));   }
  39% { @include transform(rotate(0deg) scale(1.3)); }
  60% { @include transform(rotate(0deg) scale(1));   }
}

/* <=IE9 */
.dwapsPulse:not(:required) {
  @include animation(dwapsPulse 1300ms ease 0s infinite normal);
}




// ----------------- //
// PAGE JSON BUILDER //
// ----------------- //

// Bts submit
.bts-submit
{
	padding: 0 !important;
	margin: 0 !important;
	margin-right: 4px !important;
}
.bts-submit a
{
	padding: 0 !important;
	margin: 0 !important;
	margin-right: 1px !important;
}
.small-coche-icon
{
	@include bts('../img/coche.png');
	width: 2em !important;
}
.small-array-barre-icon
{
	@include bts('../img/array-barre.png');
	width: 2em !important;
}
.small-object-barre-icon
{
	@include bts('../img/object-barre.png');
	width: 2em !important;
}

// Bts values 
.bloc-bts-json-builder
{
	width: 2em !important;
	position: relative;
	top: -4px;
}
.small-array-icon
{
	@include bts('../img/array.png');
	@extend .bloc-bts-json-builder;
}
.small-object-icon
{
	@include bts('../img/object.png');
	@extend .bloc-bts-json-builder;
}
.small-string-icon
{
	@include bts('../img/string.png');
	@extend .bloc-bts-json-builder;
}
.small-integer-icon
{
	@include bts('../img/integer.png');
	@extend .bloc-bts-json-builder;
}
.small-boolean-icon
{
	@include bts('../img/boolean.png');
	@extend .bloc-bts-json-builder;
}