body
{
	font-family: 'Abel', sans-serif;
}

body, ion-view, ion-content, ion-nav-view, .card
{
	background: transparent !important;
}

.greenDWAPS-txt
{
	color: $greenDWAPS !important;
}

.redDWAPS-txt
{
	color: $redDWAPS !important;
}

.greenDWAPS-bg
{
	background: $greenDWAPS !important;
	color: white;
	font-weight: bold;
}

.redDWAPS-bg
{
	background: $redDWAPS !important;
	color: white;
	font-weight: bold;
}

ion-footer-bar
{
    height: 60px !important;
}