<!-- NOM PROPRIETE | VALEUR -->
<div class="list list-inset bts-submit">
	<div class="item item-input">
		<input
			type="text"
			ng-model="dataInput"
			ng-focus="dataInput=''"
			placeholder="{{ dataType }}">
		<a
			class="button button-balanced"
			ng-show="showBtSubmit()"
			ng-click="setTypeAndData( dataInput )">
			<span class="small-coche-icon"></span>
		</a>
		<a
			class="button button-energized"
			ng-show="!endArray"
			ng-click="setTypeAndData( dataInput, null, true )">
			<span class="small-array-barre-icon"></span>
		</a>
		<a
			class="button button-energized"
			ng-show="!endObject"
			ng-click="setTypeAndData( dataInput, type.OBJECT, null, true )">
			<span class="small-object-barre-icon"></span>
		</a>
	</div>
</div>

<!-- TYPE VALEUR -->
<div class="list" ng-show="showBtsBuilderJSON()">
		<div class="row">
			<a
				ng-click="setTypeAndData( dataInput, type.ARRAY )"
				class="col button button-full button-positive">
				<span class="small-array-icon"></span>
			</a>
			<a
				ng-click="setTypeAndData( dataInput, type.OBJECT )"
				class="col button button-full button-royal">
				<span class="small-object-icon"></span>
			</a>
			<a
				ng-click="setTypeAndData( dataInput, type.STRING )"
				class="col button button-full button-energized">
				<span class="small-string-icon"></span>
			</a>
			<a
				ng-click="setTypeAndData( dataInput, type.INTEGER )"
				class="col button button-full button-balanced">
				<span class="small-integer-icon"></span>
			</a>
			<a
				ng-click="setTypeAndData( dataInput, type.BOOLEAN )"
				class="col button button-full button-assertive">
				<span class="small-boolean-icon"></span>
			</a>
	</div>
</div>